In [1]:
import sys, os
sys.path.append(os.path.abspath("../src"))
from analytics.metrics import top_run_scorers, top_wicket_takers, average_match_score

top_run_scorers(2016)

c:\Users\singh_7l8q9pm\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\metrics.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, connect_db())

          batsman  total_runs
0         V Kohli       973.0
1       DA Warner       848.0
2  AB de Villiers       687.0
3        S Dhawan       501.0
4       G Gambhir       501.0

In [5]:
top_wicket_takers(2015, "Mumbai Indians")

d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\metrics.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, connect_db())

            bowler  wickets
0       SL Malinga       26
1  Harbhajan Singh       19
2   MJ McClenaghan       18
3        J Suchith       10
4    R Vinay Kumar        9

In [6]:
average_match_score("Wankhede Stadium")

d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\metrics.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, connect_db())

   avg_score
0   315.6316

In [8]:
from analytics.comparisons import compare_players

compare_players("V Kohli", "S Dhawan")

d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\comparisons.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connect_db())

     player  innings  total_runs  fours  sixes  balls_faced  strike_rate
0  S Dhawan     3005      3561.0  401.0   71.0         3005       118.50
1   V Kohli     3494      4423.0  384.0  160.0         3494       126.59

In [9]:
from analytics.team import season_win_counts, powerplay_scores, win_percentage

season_win_counts("Chennai Super Kings")
powerplay_scores("Mumbai Indians", 2016)
win_percentage("Royal Challengers Bangalore")

d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\team.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, connect_db())
d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\team.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, connect_db())
d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\team.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, connect_db())

   total_matches  wins  win_percent
0            152  73.0        48.03

In [12]:
import pandas as pd
from data.db_loader import connect_db

df = pd.read_sql("SELECT id, season, team1, team2 FROM matches ORDER BY season LIMIT 5;", connect_db())
df

C:\Users\singh_7l8q9pm\AppData\Local\Temp\ipykernel_22444\1857528889.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT id, season, team1, team2 FROM matches ORDER BY season LIMIT 5;", connect_db())

   id  season                  team1                        team2
0  62    2008       Rajasthan Royals             Delhi Daredevils
1  63    2008         Mumbai Indians  Royal Challengers Bangalore
2  61    2008    Chennai Super Kings              Kings XI Punjab
3  64    2008        Deccan Chargers        Kolkata Knight Riders
4  60    2008  Kolkata Knight Riders  Royal Challengers Bangalore

In [ ]:
from analytics.summaries import generate_match_summary
print(generate_match_summary(62))

d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\summaries.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  match_info = pd.read_sql(f"SELECT * FROM matches WHERE id = {match_id};", conn).iloc[0]
d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\summaries.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  top_batsman = pd.read_sql(top_batsman_sql, conn).iloc[0]
d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\summaries.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  top_bowler = pd.read_sql(top_bowler_sql, conn).iloc[0]

At the Feroz Shah Kotla on April 19, 2008, Delhi Daredevils defeated Rajasthan Royals in IPL 2008's match 62.  Gautam Gambhir top-scored with 58 runs, while Rajat Bhatia took 3 wickets.  Farveez Maharoof was named Player of the Match.

In [ ]:
from analytics.predictions import predict_total_score, predict_for_input

mae, model, encoder_cols = predict_total_score()
print(f" Model MAE: {mae} runs")

score = predict_for_input(
    season=2016,
    venue="Wankhede Stadium",
    toss_winner="Rajasthan Royals",
    team1="Mumbai Indians",
    team2="Rajasthan Royals",
    toss_decision="bat",
    batting_team="Rajasthan Royals",
    model=model,
    encoder_cols=encoder_cols
)

print(f"🎯 Predicted 1st innings score: {score} runs")

d:\BITS Pilani\Year 4\Sem 4-2\LLM\Project\cricket-stats-gpt\src\analytics\predictions.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

📊 Model MAE: 44.03 runs
🎯 Predicted 1st innings score: 362435735553359.4 runs